pyinstaller
pyinstaller_setuptools

aiohttp
aiofiles
wxPython
appdirs
packaging
async-timeout
psutil
lz4

pytest
pytest-timeout

# win10toast; sys_platform == 'windows'
# pyobjc-core; sys_platform == 'darwin'
